{% extends "layout.html" %}
{% block body %}
<h3 style='padding-left:30px'>Welcome on IPv6.edu.pl Looking Glass</h3>
                                <div class='home'>
                                        <p>Welcome on IPv6.edu.pl / AS205036 Looking Glass !</p>
                                        <p>This looking glass will allow you to:</p>
                                        <ul>
                                        <li>traceroute any destination IPv4 and IPv6 address</li>
                                        <li>show route for any destination IPv4 and IPv6 address</li>
                                        <li>show route for any destination IPv4 and IPv6 address detailled</li>
                                        <li>show route for any destination IPv4 and IPv6 address using graph (slow)</li>
                                        </ul>
                                        <p>There are some limits here so if you are dropped please try again 1 minute later.</p>
                                        <p>All routes provided are taken from our top DC Routers.</p>
                                        <p></p>
                                        <p>If you want to peer with us, please have a look at <a href="https://as205036.peeringdb.com" target="_blank">as205036.peeringdb.com</a>.</p>
                                </div>


{% endblock %}

